Restaurant Reviews Classification with NLTK

Business Problem

In [47]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [48]:
data =pd.read_csv("Restaurant_Reviews.tsv",sep="\t",quoting=3)

In [49]:
data.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [50]:
data.tail()

                                                Review  Liked
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

In [51]:
data['Liked'].value_counts()

Liked
1    500
0    500
Name: count, dtype: int64

Cleaning Text Data

In [52]:
import nltk
import re

In [53]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [54]:
from nltk.corpus import stopwords

In [55]:
data['Review'][0]

'Wow... Loved this place.'

In [56]:
review = re.sub('[^a-zA-Z]',' ',data['Review'][0])

In [57]:
review

'Wow    Loved this place '

In [58]:
review = review.lower()

In [59]:
review

'wow    loved this place '

In [60]:
review.split()

['wow', 'loved', 'this', 'place']

In [61]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [62]:
preview = []
for word in review:
    if word not in stopwords.words('english'):
        preview.append(word)

In [63]:
preview

['w',
 'w',
 ' ',
 ' ',
 ' ',
 ' ',
 'l',
 'v',
 'e',
 ' ',
 'h',
 ' ',
 'p',
 'l',
 'c',
 'e',
 ' ']

In [64]:
review = [word for word in review if word not in stopwords.words('english')]

In [65]:
review

['w',
 'w',
 ' ',
 ' ',
 ' ',
 ' ',
 'l',
 'v',
 'e',
 ' ',
 'h',
 ' ',
 'p',
 'l',
 'c',
 'e',
 ' ']